.container{
    margin: auto;
    line-height: 1.5em;
}
.home{
    justify-content: center;
    text-align: center;
    background-image: url(./images/h_img.jpg);
    height: 80vh;
    opacity: 1;
    padding-top: 210px;
    
}
.about{
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    height: 55vh;
}
.about h1{
    color: black;
}
.about p{
    color: black;
}
.services{
    justify-content: center;
    text-align: center;
    background-image: url(./images/s_image.jpg);
    opacity: 1.5;
    height: 50vh;
    padding-top: 90px;
}
h1, h2, p{
    color: black;

}
.row{
    justify-content: center;
}
.what-we-do{
    justify-content: center;
    text-align: center;

}
.what-we-do h1{
    color: black;
    text-align: center;
    padding-top: 30px;

}
.row{
    justify-content: space-around;
    display: flex;
}
.paragraph{
    color: black;

}
.paragraph1{
    color: black;


}
.paragraph2{
    color: black;
}
.portfolio{
    justify-content: space-between;
}

.portfolio h1{
    color: black;
    text-align: center;
}
.portfolio img{
    height: 200px;
    width: 250px;
}
.row{
    display: flex;
    justify-content: space-between;
}

.contact{
    justify-content: center;
    text-align: center;
    background-image: url(./images/c_image.jpg);
    height: 100vh;
    padding: 100px;
}


.footer{
    display: flex;
    justify-content: center;
    padding: 30px;
}


h5{
    display: flex;
    justify-content: center;
}