.container{
    margin: auto;
    line-height: 2em;
    
}

.home{
    justify-content: center;
    text-align: center;
    background-image: url(./images/h_img.jpg);
    height: 80vh;
    opacity: 1;
    padding-top: 210px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.about{
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    height: 55vh;
}
.about h3{
    color: black;
}
.about p{
    color: black;
}
.services{
    justify-content: center;
    text-align: center;
    background-image: url(./images/s_image.jpg);
    height: 50vh;
    padding-top: 90px;
    

}
.services p{
    font-weight: bold;
}
h3, p{
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
.row{
    justify-content: center;
}
.what-we-do{
    justify-content: center;
    text-align: center;
    padding: 30px;

}
.what-we-do h3{
    color: black;
    text-align: center;
    padding-top: 30px;

}
.row{
    justify-content: space-around;
    display: flex;
}
.paragraph{
    color: black;

}

.paragraph1{
    color: black;


}
.paragraph2{
    color: black;
}
.portfolio{
    justify-content: space-between;
    padding: 10px;
}

.portfolio h3{
    color: black;
    text-align: center;
}
.col-md-3{
    padding: 20px;
}

.image{
    position: relative;

}
.image-img{
    display: block;
    width: 100%;
}
.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-title{
    display: none;
}
.image-overlay:hover{
    opacity: 1;
}
.image2{
    position: relative;

}
.image2-img{
    display: block;
    width: 100%;
}
.image2-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image2-title{
    text-align: center;
}
.image3{
    position: relative;

}
.image3-img{
    display: block;
    width: 100%;
}
.image3-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image3-title{
    text-align: center;
}
.image4{
    position: relative;

}
.image4-img{
    display: block;
    width: 100%;
}
.image4-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image4-title{
    text-align: center;
}
.image5{
    position: relative;

}
.image5-img{
    display: block;
    width: 100%;
}
.image5-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image5-title{
    text-align: center;
}
.image6{
    position: relative;

}
.image6-img{
    display: block;
    width: 100%;
}
.image6-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image6-title{
    text-align: center;
}
.image7{
    position: relative;

}
.image7-img{
    display: block;
    width: 100%;
}
.image7-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image7-title{
    text-align: center;
}
.image8{
    position: relative;

}
.image8-img{
    display: block;
    width: 100%;
}
.image8-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image8-title{
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-between;
}

.contact{
    justify-content: center;
    text-align: center;
    background-image: url(./images/c_image.jpg);
    height: 90vh;
    padding: 100px;
}
#name{
    width:60vh;
}
#email{
    width: 60vh;
}
#message{
    width: 130vh;
    height: 50vh;
    justify-content: center;

}
button{
    background-color: rgb(95, 97, 185);
}


.footer{
    display: flex;
    justify-content: center;
    padding: 30px;
}


h5{
    display: flex;
    justify-content: center;
}




